<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
</head>

<body>
    <form method="POST">
        <p>Please Enter your Street Address: <input name="a1"></p>
        <p>Please Enter your City/Region: <input name="a2"></p>
        <p>Please Enter your State/Country <input name="a3"></p>
        <p></p>
        <input type="submit" class="button"> 
        
    </form>
</body>

</html>